/* Home Page */
#homepageMain{
display:flex;
flex-direction: row;
margin-left: 350px;
}
#weatherImg{
width: 100px;
height: 100px;
}

.temperature{
    font-family: 'Amaranth', sans-serif;
    color:purple;
}